
    font-family: Arial;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0;
    margin: 0;
}

footer header nav ul li a {
    color: red;
    font-weight: bold;
}
#autores {
       background-color: darkgray; /* Color naranja claro */
}
#reglas {
       background-color: sandybrown; /* Color naranja claro */
}
#navega {
       background-color: tan; /* Color naranja claro */
}
#comidas {
       background-color: wheat; /* Color naranja claro */
}
#guardado {
       background-color: navajowhite; /* Color naranja claro */
}
#cerrar {
       background-color: bisque; /* Color naranja claro */
}
#configuraciones {
       background-color: gainsboro; /* Color naranja claro */
}
#silencio {
       background-color: lightcyan; /* Color naranja claro */
}
#respeto {
       background-color: lavender; /* Color naranja claro */
}
#imprimir {
       background-color: lightsteelblue; /* Color naranja claro */
}
#carpetas {
       background-color: steelblue; /* Color naranja claro */
}

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
}

h5 {
    background-color: darkgray;
    color: black;
    text-align: center;
    padding: 0px;
}
     
h4 {
    text-align: center;
}

